---
layout: page
title: "Contact Us"
description: ""
---
{% include JB/setup %}



{% if page.language == "en" %}
<div id="hero">
  <div class="contact-slider">
    <h1>Want to join us?</h1>
    <h1>Give a call or write</h1>
    <div class="container" style="padding-top:3%;">
    <div class="row">
      <div class="col-xs-3 col-md-offset-2">
        <h5>email</h5>
        <h5>address</h5>
        <h5>mobile</h5>
      </div>
      <div class="contact-line">&nbsp;</div>
      <div class="col-xs-6">
        <h6><a href="mailto:dynamismdance@gmail.com">dynamismdance@gmail.com</a></h6>
        <h6>201 Sturt Street Adelaide 5000</h6>
        <h6>+61 469 880 699</h6>
      </div>

    </div>
      
    </div>
  </div>
</div>

<div id="contact">
   <div class="container">

      <div class="row">
        <div class="col-sm-6">
          
          <i class="fa fa-book fa-5x contacticon" id="contacticon"></i>
          <a href="/classes">
            <h4>View Classes</h4>
            See more detailed information about our classes. Don't wait. Come and join us. 
          </a>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-newspaper-o fa-5x contacticon" id="contacticon"></i>
          <a href="/news">
            <h4> View News</h4>
            Need to know our latest news?
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <i class="fa fa-users fa-5x contacticon" id="contacticon"></i>
          <a href="/about">
            <h4>View Art Group</h4>
            Check out our culture and our cooperating art groups. </a>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-picture-o fa-5x contacticon" id="contacticon"></i>
          <a href="/">
            <h4>View Gallery</h4>
            Want to build your social learning network? Join our worldwide community of collaboration.          </a>
        </div>
    </div>

  </div>
</div>
{% else %}
<div id="hero">
  <div class="contact-slider">
    <h1>赶紧加入我们</h1>
    <div class="container" style="padding-top:3%;">
    <div class="row">
      <div class="col-xs-3 col-md-offset-2">
        <h5>电子邮件</h5>
        <h5>地址</h5>
        <h5>手机</h5>
      </div>
      <div class="contact-line">&nbsp;</div>
      <div class="col-xs-6">
        <h6><a href="mailto:dynamismdance@gmail.com">dynamismdance@gmail.com</a></h6>
        <h6>201 Sturt Street Adelaide 5000</h6>
        <h6>+61 469 880 699</h6>
      </div>

    </div>
      
    </div>
  </div>
</div>

<div id="contact">
   <div class="container">

      <div class="row">
        <div class="col-sm-6">
          
          <i class="fa fa-book fa-5x contacticon" id="contacticon"></i>
          <a href="/cn/classes">
            <h4> 课程 </h4>
            检索我们最新的课程信息。
          </a>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-newspaper-o fa-5x contacticon" id="contacticon"></i>
          <a href="/cn/news">
            <h4> 新闻 </h4>
            查看我们最新的动态新闻。
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <i class="fa fa-users fa-5x contacticon" id="contacticon"></i>
          <a href="/cn/about">
            <h4> 艺术团 </h4>
            查看我们学校的优秀艺术团。
          </a>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-picture-o fa-5x contacticon" id="contacticon"></i>
          <a href="/">
            <h4> 照片廊 </h4>
            点击我们活动中的精彩瞬间。
          </a>
        </div>
    </div>

  </div>
</div>
{% endif %}



<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1635.4750342014643!2d138.5903027!3d-34.9327892!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf1858b59887%3A0x5636f8be362bd905!2s201+Sturt+St%2C+Adelaide+SA+5000!5e0!3m2!1sen!2sau!4v1423012323107"></iframe>
