---
layout: nonav_default
title: "Index"
description: ""
---
{% include JB/setup %}


<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        <img src="/assets/images/logo.gif" alt="Generic placeholder image" style="height: 50%;width: 50%;">
                    </a>
                </li>
                <li style="background-color:#832641">
                    <a href="#Group1">Dance Classes</a>
                    <li>
                        {% for page in site.tags.class %}
                        <a href="#Group1">{{page.title}}</a> {% endfor %}
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a href="#">11</a>
                        <a href="#">12</a>
                        <a href="#">13</a>
                        <a href="#">14</a>
                        <a href="#">15</a>
                        <a href="#">16</a>
                        <a href="#">17</a>
                        <a href="#">18</a>
                        <a href="#">19</a>
                        <a href="#">20</a>
                        <a href="#">21</a>
                    </li>
                </li>
            </ul>
    </div>







<div id="page-content-wrapper">
    <div class="container-fluid">


        {% for page in site.tags.class %}
        <div class="panel panel-default">
            <div class="panel-body">
                {{page.content}}
            </div>
        </div>
        {% endfor %}



        <!-- <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div> -->
    </div>
</div>
</div>