---
layout: nonav_default
title: "About"
description: ""
group: navigation
---
{% include JB/setup %}

{% if page.language == "en" %}
<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        <img src="/assets/images/logo.gif" alt="Generic placeholder image" style="height: 50%;width: 50%;">
                    </a>
                </li>
                <li style="background-color:#832641">
                    <a href="#group">Art Groups</a>
                    <li>
                        {% for post in site.tags.group %}
                            {% if page.language == post.language %}
                               <a href="#{{post.title}}">{{post.title}}</a>
                            {% endif %}
                        {% endfor %}               
                    </li>
                </li>
                <li style="background-color:#B35656">
                    <a href="#people">People</a>
                    <li>
                        {% for post in site.tags.people %}
                            {% if page.language == post.language %}
                               <a href="#{{post.title}}">{{post.title}}</a>
                            {% endif %}
                        {% endfor %}     
                    </li>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="group"></div>
                {% for post in site.tags.group %}
                    {% if page.language == post.language %}
                        <div id="{{post.title}}"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>{{post.title}}</h2>
                                {{post.content}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div id="people"></div>
                {% for post in site.tags.people %}
                    {% if page.language == post.language %}
                        <div id="{{post.title}}"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4" style="text-align: center; padding-top: 20px;">
                                        <img class="img-circle" src="/assets/images/people/{{post.image}}" alt="Generic placeholder image" style=" width: 150px; height: 150px;" />
                                            <p><strong>{{post.position}}</strong></p>
                                    </div>
                                    <div class="col-md-8">
                                        <h2>{{post.title}}</h2>
                                        <p>{{post.content}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% else %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/cn/">
                        <img src="/assets/images/logo.gif" alt="Generic placeholder image" style="height: 50%;width: 50%;">
                    </a>
                </li>
                <li style="background-color:#832641">
                    <a href="#group">艺术团</a>
                    <li>
                        {% for post in site.tags.group %}
                            {% if page.language == post.language %}
                               <a href="#{{post.title}}">{{post.title}}</a>
                            {% endif %}
                        {% endfor %}               
                    </li>
                </li>
                <li style="background-color:#B35656">
                    <a href="#people">团队成员</a>
                    <li>
                        {% for post in site.tags.people %}
                            {% if page.language == post.language %}
                               <a href="#{{post.title}}">{{post.title}}</a>
                            {% endif %}
                        {% endfor %}     
                    </li>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="group"></div>
                {% for post in site.tags.group %}
                    {% if page.language == post.language %}
                        <div id="{{post.title}}"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>{{post.title}}</h2>
                                {{post.content}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        
                <div id="people"></div>
                {% for post in site.tags.people %}
                    {% if page.language == post.language %}
                        <div id="{{post.title}}"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>{{post.title}}</h2>
                                {{post.content}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
{% endif %}
